/*max-width found on https://developer.mozilla.org/en-US/docs/Web/CSS/max-width*/
.mobile-container {
    max-width: fit-content(20em);
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
h1 {
    color: rgb(76, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

body {
    background-color: rgb(245, 238, 255);
}

form {
    border: 2px solid rgb(76, 30, 30);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px;
    color:rgb(76, 30, 30);
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(231, 218, 252);  
    
}

/* Style inputs w3schools.com */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Style inputs w3schools.com */
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

    /* Style inputs w3schools.com */
textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/*button help w3schools.com*/
.button {
    background-color:  rgb(76, 30, 30); 
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px;
    color: rgb(185, 148, 245);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
